nav {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0;
  position: fixed;
  background-color: white;
}

.nav-center img {
  max-width: 100%;
  height: 50px;
}

.nav-center {
  text-align: center;
}

.nav-left {
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
  width: 20%;
}

section h4 a,
.section4 a,
.nav-left a {
  color: black;
}

.nav-left a {
  background-color: transparent;
}

.nested {
  width: 30%;
  margin: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nested a {
  color: rgb(19, 19, 136);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding-left: 7px;
}

.nav-right {
  display: flex;
  padding-left: 0;
  justify-content: space-around;
  padding-top: 5px;
  text-align: center;
  width: 18%;
}

.nav-right .button1 {
  padding: 10px;
  width: 130px;
  background-color: rgb(89, 89, 126, 0.9);
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

.nav-text a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.sub-header1 a {
  background-color: lightgrey;
  border-radius: 50%;
}

.nav-right a {
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: small;
}

.section14 a {
  color: gray;
}

.section4 a,
.section15 a,
.section20 a,
.section23 a,
.section26 a,
.nav-right p a {
  text-decoration: none;
}

.section26 p a,
.nav-right p a {
  color: black;
}

header {
  font-size: 2.5rem;
  font-weight: bold;
  width: 40%;
  margin: auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
  padding-top: 2rem;
}

.sub-header {
  width: 40%;
  margin: auto;
}

.sub-header1 {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding-top: 1.2rem;
}

.sub-header1 i {
  font-size: 1rem;
  padding: 7px;
  color: black;
}

.section1 p {
  font-size: 1.3rem;
}

.section-image {
  width: 80%;
  margin: auto;
  padding: 1.5rem;
}

.section-image img {
  width: 100%;
}

.section-image p {
  padding-top: 0;
  font-size: 1rem;
  margin-top: 5px;
  color: rgb(0, 0, 0, 0.9);
  width: 70%;
}

.section1 {
  width: 50%;
  margin: auto;
}

#inside {
  width: 15%;
  border-top: 1px solid grey;
  margin: auto;
}

#insider {
  width: 15%;
  border-top: 1px solid grey;
  margin: auto;
}

.section2 {
  display: grid;
  width: 75%;
  margin-left: auto;
  grid-template-columns: 2fr 1fr;
  margin-top: 2rem;
  grid-gap: 2rem;
}

.section3 p {
  font-size: 1.3rem;
}

.section4 {
  padding: 1.5rem;
  margin-top: 2.5rem;
}

.section4 p {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 7px;
  font-weight: bold;
}

.aside1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 5px;
}

.aside1 img {
  width: 80%;
  height: 95%;
}

.aside2 {
  align-self: center;
  padding-right: 5px;
}

.section5 {
  width: 50%;
  margin: auto;
}

.section5 p {
  font-size: 1.3rem;
}

.section6 {
  width: 70%;
  margin: auto;
}

.section12 p {
  font-size: 1.3rem;
}

.section7 img {
  width: 100%;
  height: 600px;
}

.section7 {
  position: relative;
}

.section8 {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
}

.section8 div {
  width: 23%;
  font-size: small;
}

.section8 span {
  font-weight: bold;
}

.section9 {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.section9 div {
  width: 23%;
  font-size: small;
}

.section9 span {
  font-weight: bold;
}

.section10 {
  border-top: 1px solid black;
  width: 100px;
  margin-top: 1rem;
}

.section11 {
  padding-top: 1rem;
}

.section12 {
  width: 50%;
  margin: auto;
  padding-top: 1.5rem;
}

.section13 {
  padding-top: 2.5rem;
}

.section13 iframe {
  width: 650px;
  height: 350px;
}

.section12 figure {
  padding-top: 0;
  margin: 0;
  color: grey;
  padding-bottom: 3rem;
}

.section12 img {
  width: 100%;
}

.section14 {
  font-size: smaller;
  color: gray;
}

.section15 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  margin-top: 1.5rem;
}

.section16 {
  text-align: center;
  background-color: rgb(107, 106, 163, 0.9);
  width: 90%;
  margin: auto;
  padding: 7px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.section17 {
  display: flex;
  justify-content: space-between;
}

.section17 i {
  font-size: 1rem;
  background-color: lightgrey;
  padding: 8px;
  border-radius: 50%;
  color: black;
}

.section18 {
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-gap: 20px;
  padding-top: 5rem;
  width: 95%;
  margin: auto;
  padding-right: 0;
  padding-bottom: 1.5rem;
}

.section19 {
  display: flex;
  justify-content: space-between;
  padding-top: 0.1rem;
  border-top: 1px solid black;
}

.section20 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7px;
}

.section21 {
  border: 1px solid lightgray;
  padding: 1rem;
  border-radius: 10px;
}

.section22 {
  display: flex;
  justify-content: space-between;
}

.section24 {
  margin-top: 5rem;
  border-top: 1px solid black;
}

.section25 {
  border-top: 1px solid black;
  margin-top: 1rem;
}

.section26 {
  margin-left: 10px;
  padding-right: 10px;
  border-top: 1px solid black;
}

.section26 h4 {
  margin-top: 18px;
}

.section23 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding-bottom: 1rem;
}

.section21 p {
  color: gray;
}

.section21 h4 {
  color: black;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}

.section22 img {
  width: 50%;
}

.section23 img {
  width: 100%;
}

.section22 i {
  font-size: 1.3rem;
  border: 1px solid black;
  text-align: center;
  padding-top: 7px;
  border-radius: 50%;
  height: 1.7rem;
  width: 15%;
  color: black;
}

.section24 h4 a,
.section25 h4 a {
  text-decoration: none;
}

.section19 p a {
  text-decoration: none;
  color: grey;
}

.section23 span {
  color: grey;
  float: right;
  font-size: 0.8rem;
}

.section23 p {
  color: grey;
  font-size: 0.8rem;
  padding-top: 0;
  margin-top: 0;
}

.section26 p {
  font-size: 1.27rem;
}

.section26 div {
  border-bottom: 1px solid lightgray;
}

.section23 h4 {
  color: black;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.section-image p span {
  color: rgb(117, 115, 115);
}

section h4 a:hover {
  text-decoration: none;
}

.nav-text a:hover {
  text-decoration: underline;
}

.sub-header1 a:hover {
  background-color: transparent;
  transition: ease-out 0.5s;
  border: 1px solid lightgray;
}

.section4 a:hover {
  text-decoration: underline;
}

.section14 a:hover {
  text-decoration: none;
}

.section16:hover {
  background-color: rgb(107, 106, 163);
}

.nav-right .button1:hover {
  background-color: rgb(89, 89, 126);
}

.section23 h4:hover,
.section26 p:hover {
  opacity: 0.8;
}

.section22 i:hover {
  background-color: black;
  color: white;
  transition: ease-out 0.5s;
}

.section6 p:nth-child(1) {
  font-weight: bold;
  font-size: 1.2rem;
}

.sub-header1 a:nth-child(6) {
  background-color: transparent;
}

.sub-header1 a:last-child {
  background-color: transparent;
}

.section24 h4 a:hover,
.section25 h4 a:hover {
  text-decoration: underline;
}

.sub-header1 a:last-child:hover {
  opacity: 0.7;
  border: none;
}

.sub-header1 a:nth-child(6):hover {
  opacity: 0.7;
  border: none;
}

.section17 i:hover {
  background-color: transparent;
  border: 1px solid lightgray;
  transition: ease-out 0.5s;
}

.nav-left a i:hover {
  background-color: lightgray;
  padding: 3px;
  height: 45%;
  transition: ease-out 0.5s;
  border-radius: 3px;
}

.section5 p:nth-child(1) {
  font-weight: bold;
}
