nav {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 1fr 3fr 1fr;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 0;
}

.nav-center img {
  width: 200px;
  height: 50px;
}

.nav-center {
  text-align: center;
}

.nav-left {
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
}

section h4 a {
  color: black;
}

.section4 a {
  color: black;
  text-decoration: none;
}

.nested a {
  color: rgb(19, 19, 136);
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding-left: 7px;
}

.nav-right {
  display: flex;
  padding-left: 0;
  justify-content: space-around;
  padding-top: 5px;
  text-align: right;
}

.nav-right button {
  padding: 7px;
  margin: 5px;
  height: 35px;
  width: 130px;
  background-color: rgb(89, 89, 126);
  border: none;
  border-radius: 5px;
}

.nav-text a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.nav-right button a {
  color: white;
  text-decoration: none;
}

.nav-right p a {
  color: black;
  text-decoration: none;
}

section h4 a:hover {
  text-decoration: none;
}

.nav-text a:hover {
  text-decoration: underline;
}

header {
  font-size: 2.5rem;
  font-weight: bold;
  width: 40%;
  margin: auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
  padding-top: 2rem;
}

.sub-header {
  width: 40%;
  margin: auto;
}

.sub-header1 {
  display: flex;
  justify-content: space-between;
  width: 55%;
  padding-top: 1.2rem;
}

.sub-header1 img {
  width: 25px;
  height: 20px;
  padding-top: 7px;
}

.sub-header1 i {
  font-size: 1rem;
  background-color: lightgrey;
  padding: 7px;
  border-radius: 50%;
}

.sub-header1 i:last-child {
  background-color: transparent;
}

.sub-header1 i:nth-child(6) {
  background-color: transparent;
}

.section1 p {
  font-size: 1.3rem;
}

.section-image {
  width: 80%;
  margin: auto;
  padding: 1.5rem;
}

.section-image img {
  width: 100%;
}

.section-image p {
  padding-top: 0;
  font-size: 1rem;
  margin-top: 5px;
  color: rgb(0, 0, 0, 0.9);
  width: 70%;
}

.section1 {
  width: 50%;
  margin: auto;
}

#inside {
  width: 15%;
  border-top: 1px solid grey;
  margin: auto;
}

#insider {
  width: 15%;
  border-top: 1px solid grey;
  margin: auto;
}

.section2 {
  display: grid;
  width: 75%;
  margin-left: auto;
  grid-template-columns: 2fr 1fr;
  margin-top: 2rem;
  grid-gap: 2rem;
}

.section3 p {
  font-size: 1.3rem;
}

.section4 {
  padding: 1.5rem;
  margin-top: 2.5rem;
}

.section4 p {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 7px;
  font-weight: bold;
}

.aside1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 5px;
}

.aside1 img {
  width: 80%;
  height: 95%;
}

.aside2 {
  align-self: center;
  padding-right: 5px;
}

.section4 a:hover {
  text-decoration: underline;
}

.section5 {
  width: 50%;
  margin: auto;
}

.section5 p {
  font-size: 1.3rem;
}

.section5 p:nth-child(1) {
  font-weight: bold;
}

.section6 {
  width: 70%;
  margin: auto;
}

.section7 img {
  width: 100%;
  height: 600px;
}

.section7 {
  position: relative;
}

.section8 {
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
}

.section8 div {
  width: 23%;
  font-size: small;
}

.section8 span {
  font-weight: bold;
}

.section9 {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.section9 div {
  width: 23%;
  font-size: small;
}

.section9 span {
  font-weight: bold;
}

.section-image p span {
  color: rgb(117, 115, 115);
}

.section10 {
  border-top: 1px solid black;
  width: 100px;
  margin-top: 1rem;
}

.section11 {
  padding-top: 1rem;
}
